[Unit]
Description=Attendance Bot for Telegram
After=mult-user.target

[Service]
Type=simple
WorkingDirectory=/root/attendance-bot
ExecStartPre=/usr/bin/git pull
ExecStart=/root/attendance-bot/venv/bin/python -m attendance_bot

[Install]
WantedBy=multi-user.target
